@import "../../scss/variables";
.navbar{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
    background-color: $navbarBackColor;
    a{
        color:white;
        font-size: 2rem;
        text-decoration: none;
        padding:1rem;
        font-weight: bold;
        &:hover{
            background-color: $backColor;
            color:$navbarBackColor;
        }
    }
}